body.custom-style-enabled {
  font-family: Arial, Helvetica, sans-serif;
}
 
@font-face {
  font-family: 'RobotoSlab';
  src: url('fonts/RobotoSlab-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
 
body.custom-style-enabled h1, 
body.custom-style-enabled h2, 
body.custom-style-enabled h3, 
body.custom-style-enabled h4, 
body.custom-style-enabled h5, 
body.custom-style-enabled h6 {
  font-family: RobotoSlab, Arial;
}
 
body.custom-style-enabled .logo__title {
  font-family: RobotoSlab, Arial !important;
}

:root {
    --raspberry: rgb(165,0,52);
    --raspberry-min: rgb(165,0,52,3%);
    --raspberry-mid: rgb(165,0,52,20%);
    --yellow: #FFB81C;
    --yellow-min: #FFB81C05;
    --yellow-mid: #FFB81C20;
    --darkGreen: #009B77;
    --darkGreen-min: #009B7710;
    --darkGreen-mid: #009B7725;
    --blue: #0076C2;
    --blue-min: #0076C210;
    --blue-mid: #0076C225;
    --black: var(--pst-color-text-base);
    --black-min: #56565605;
    --black-mid: #56565625;
    --orange: #EC6842;
    --orange-min: #EC684210;
    --orange-mid: #EC684225;
    --cyan: #00A6D6;
    --gray: #7d7d7d;
    --gray-min: #7d7d7d05;
    --gray-mid: #7d7d7d20;
    --purple: #6f1d77;
    --purple-min: #6f1d7705;
    --purple-mid: #6f1d7720;
    --pink: #EF60A3;
    --pink-min: #EF60A310;
    --pink-mid: #EF60A325;
    --red: #E03C31;
    --red-min: #E03C3110;
    --red-mid: #E03C3125;
    --green: #6CC24A;
    --green-min: #6CC24A10;
    --green-mid: #6CC24A25;
    --darkBlue: #0C2340;
    --darkBlue-min: #0C234010;
    --darkBlue-mid: #0C234025;
  }

  /* BLOCK COMPONENTS (admonitions, proofs, exercises) */
  
  /* Grasple */
  body.custom-style-enabled div.grasple p.admonition-title::after {
    content: "\f12e";
    color: var(--raspberry);
  }
  body.custom-style-enabled div.grasple p.admonition-title::before {
    content: "";
  }
  body.custom-style-enabled div.grasple {
    border-color: var(--raspberry);
    background-color: var(--raspberry-min);
  }
  body.custom-style-enabled div.grasple > p.admonition-title {
    background-color: var(--raspberry-mid);
  }
  
   /* Exercise */
  body.custom-style-enabled div.exercise p.admonition-title::after {
    content: "\f12e";
    color: var(--raspberry);
  }
  body.custom-style-enabled div.exercise p.admonition-title::before {
    content: "";
  }
  body.custom-style-enabled div.exercise {
    border-color: var(--raspberry);
    background-color: var(--raspberry-min);
  }
  body.custom-style-enabled div.exercise > p.admonition-title {
    background-color: var(--raspberry-mid);
  }
  
  /* Definition */
  body.custom-style-enabled div.definition p.admonition-title::after {
    content: "\f02d";
    color: var(--blue);
  }
  body.custom-style-enabled div.definition {
    border-color: var(--blue);
    background-color: var(--blue-min);
  }
  body.custom-style-enabled div.definition > p.admonition-title {
    background-color: var(--blue-mid);
  }

  /* Criterion */
  body.custom-style-enabled div.criterion p.admonition-title::after {
    content: "\f058";
    color: var(--orange);
  }
  body.custom-style-enabled div.criterion {
    border-color: var(--orange);
    background-color: var(--orange-min);
  }
  body.custom-style-enabled div.criterion > p.admonition-title {
    background-color: var(--orange-mid);
  }
  
  /* Axiom, Lemma, Conjecture */
  body.custom-style-enabled div.axiom  p.admonition-title::after,
  body.custom-style-enabled div.lemma  p.admonition-title::after,
  body.custom-style-enabled div.conjecture  p.admonition-title::after {
    content: "\f0e3";
    color: var(--yellow);
  }
  body.custom-style-enabled div.axiom, 
  body.custom-style-enabled div.lemma, 
  body.custom-style-enabled div.conjecture{
    border-color: var(--yellow);
    background-color: var(--yellow-min);
  }
  body.custom-style-enabled div.axiom > p.admonition-title,
  body.custom-style-enabled div.lemma > p.admonition-title,
  body.custom-style-enabled div.conjecture > p.admonition-title{
    background-color: var(--yellow-mid);
  }

  /* Property */
  body.custom-style-enabled div.property  p.admonition-title::after {
    content: "\f02b";
    color: var(--orange);
  }
  body.custom-style-enabled div.property{
    border-color: var(--orange);
    background-color: var(--orange-min);
  }
  body.custom-style-enabled div.property > p.admonition-title{
    background-color: var(--orange-mid);
  }

  /* Assumption */
  body.custom-style-enabled div.assumption  p.admonition-title::after {
    color: var(--yellow);
  }
  body.custom-style-enabled div.assumption{
    border-color: var(--yellow);
    background-color: var(--yellow-min);
  }
  body.custom-style-enabled div.assumption > p.admonition-title{
    background-color: var(--yellow-mid);
  }

  /* Theorem, Preposition, Corollary */
  body.custom-style-enabled div.theorem  p.admonition-title::after,
  body.custom-style-enabled div.proposition p.admonition-title::after,
  body.custom-style-enabled div.corollary p.admonition-title::after {
    content: "\f51b";
    color: var(--darkGreen);
  }
  body.custom-style-enabled div.theorem, 
  body.custom-style-enabled div.proposition, 
  body.custom-style-enabled div.corollary {
    border-color: var(--darkGreen);
    background-color: var(--darkGreen-min);
  }
  body.custom-style-enabled div.theorem > p.admonition-title,
   body.custom-style-enabled div.proposition > p.admonition-title,
   body.custom-style-enabled div.corollary >p.admonition-title {
    background-color: var(--darkGreen-mid);
  }
  
  /* Example */
  body.custom-style-enabled div.example {
    border-color: var(--yellow);
    background-color: var(--yellow-min);
  }
  body.custom-style-enabled div.example > p.admonition-title {
    background-color: var(--yellow-mid);
    /* color: white; */
  }
  body.custom-style-enabled div.example p.admonition-title::after {
    content: "\f002";
    transform: scale(-1, 1);
    color: var(--yellow);
  }
  
  /* Solution */
  body.custom-style-enabled div.admonition.solution {
    border-color: var(--purple);
    background-color: var(--purple-min);
  }
  body.custom-style-enabled div.admonition.solution > .admonition-title {
    background-color: var(--purple-mid);
    /* color: white; */
  }
  body.custom-style-enabled div.admonition.solution > .admonition-title::after {
    content: "\e5a0";
    color: var(--purple);
  }
  
  /* TU Delft Proof */
  body.custom-style-enabled div.admonition.tudproof {
    border-color: var(--darkGreen);
    background-color: var(--gray-min);
  }
  body.custom-style-enabled div.admonition.tudproof > .admonition-title {
    background-color: var(--gray-mid);
  }
  body.custom-style-enabled div.admonition.tudproof > .admonition-title::after {
    content: "\f51c";
    color: var(--gray);
  }
  
  /* Algorithm */
  body.custom-style-enabled div.algorithm > .admonition-title::after {
    content: "\f120";
    color: var(--blue);
  }
  body.custom-style-enabled div.algorithm {
    border-color: var(--blue);
    background-color: var(--blue-min);
  }
  body.custom-style-enabled div.algorithm > .admonition-title {
    background-color: var(--blue-mid);
    border-top: .15rem solid var(--blue-mid);
    border-bottom: .15rem solid var(--blue-mid);
  }
  
  /* Bonus */
  body.custom-style-enabled div.admonition.bonus {
    border-color: var(--gray);
    background-color: var(--gray-min);
  }
  body.custom-style-enabled div.admonition.bonus > .admonition-title {
    background-color: var(--gray-mid);
  }
  body.custom-style-enabled div.admonition.bonus > .admonition-title::after {
    content: "\f06b";
    color: var(--gray);
  }
  
  /* Caution, Warning, Attention, Important */
  body.custom-style-enabled div.admonition.caution, body.custom-style-enabled div.admonition.warning, body.custom-style-enabled div.admonition.attention, body.custom-style-enabled div.admonition.important {
    border-color: var(--orange);
    background-color: var(--orange-min);
  }
  body.custom-style-enabled div.admonition.caution > .admonition-title,
   body.custom-style-enabled div.admonition.warning > .admonition-title,
    body.custom-style-enabled div.admonition.attention > .admonition-title,
     body.custom-style-enabled div.admonition.important > .admonition-title {
    background-color: var(--orange-mid);
  }
  body.custom-style-enabled div.admonition.caution > .admonition-title::after,
   body.custom-style-enabled div.admonition.warning > .admonition-title::after,
    body.custom-style-enabled div.admonition.attention > .admonition-title::after,
     body.custom-style-enabled div.admonition.important > .admonition-title::after {
    color: var(--orange);
  }
  
  /* Danger, Error */
  body.custom-style-enabled div.admonition.danger, 
  body.custom-style-enabled div.admonition.error {
    border-color: var(--red);
    background-color: var(--red-min);
  }
  body.custom-style-enabled div.admonition.danger > .admonition-title,
   body.custom-style-enabled div.admonition.error > .admonition-title {
    background-color: var(--red-mid);
  }
  body.custom-style-enabled div.admonition.danger > .admonition-title::after,
   body.custom-style-enabled div.admonition.error > .admonition-title::after {
    color: var(--red);
  }

  /* Hint, Note, SeeAlso, Tip, Remark, Observation */
  body.custom-style-enabled div.admonition.hint, 
  body.custom-style-enabled div.admonition.note, 
  body.custom-style-enabled div.admonition.seealso, 
  body.custom-style-enabled div.admonition.tip, 
  body.custom-style-enabled div.admonition.remark, 
  body.custom-style-enabled div.admonition.observation {
    border-color: var(--green);
    background-color: var(--green-min);
  }
  body.custom-style-enabled div.admonition.hint > .admonition-title,
   body.custom-style-enabled div.admonition.note > .admonition-title,
    body.custom-style-enabled div.admonition.seealso > .admonition-title,
     body.custom-style-enabled div.admonition.tip > .admonition-title,
      body.custom-style-enabled div.admonition.remark > .admonition-title,
      body.custom-style-enabled div.admonition.observation > .admonition-title  {
    background-color: var(--green-mid);
  }
  body.custom-style-enabled div.admonition.hint > .admonition-title::after,
   body.custom-style-enabled div.admonition.note > .admonition-title::after,
    body.custom-style-enabled div.admonition.seealso > .admonition-title::after,
     body.custom-style-enabled div.admonition.tip > .admonition-title::after,
     body.custom-style-enabled div.admonition.remark > .admonition-title::after,
     body.custom-style-enabled div.admonition.observation > .admonition-title::after {
    color: var(--green);
  }

  /* Topic */
  body.custom-style-enabled aside.topic {
    background-color: var(--gray-mid);
  }

  /* Version Added */
  body.custom-style-enabled div.versionadded {
    border-color: var(--darkGreen);
    background-color: var(--darkGreen-mid);
  }
  body.custom-style-enabled div.versionadded .versionmodified.added::before {
    color: var(--darkGreen);
  }

  /* Version Changed */
  body.custom-style-enabled div.versionchanged {
    border-color: var(--orange);
    background-color: var(--orange-mid);
  }
  body.custom-style-enabled div.versionchanged .versionmodified.changed::before {
    color: var(--orange);
  }

  /* Version Deprecated */
  body.custom-style-enabled div.deprecated {
    border-color: var(--red);
    background-color: var(--red-mid);
  }
  body.custom-style-enabled div.deprecated .versionmodified.deprecated::before {
    color: var(--red);
  }

  #toggle-css{
    color: var(--gray) !important;
  }

  body.custom-style-enabled #toggle-css{
    color: var(--black) !important;
  }

  body.custom-style-enabled #tudelft-logo{
    opacity: 1;
  }

  /* BADGES */

  /* all badges */
  body.custom-style-enabled .sd-badge {
    padding: .35em .65em;
    font-size: 0.9em;
    font-weight: 700;
    line-height: 1;
    border-radius: .45rem;
  }

  /* primary, info */
  body.custom-style-enabled .sd-bg-primary,
  body.custom-style-enabled .sd-bg-info{
    color: #FFFFFF !important;
    background-color: var(--blue) !important;
  }
  /* primary-line, info-line */
  body.custom-style-enabled .sd-outline-primary,
  body.custom-style-enabled .sd-outline-info{
    color: var(--blue) !important;
    border-color: var(--blue) !important;
  }

  /* secondary */
  body.custom-style-enabled .sd-bg-secondary,
  body.custom-style-enabled .sd-btn-secondary{
    color: #FFFFFF !important;
    background-color: var(--yellow) !important;
  }
  /* secondary-line */
  body.custom-style-enabled .sd-outline-secondary{
    color: var(--yellow) !important;
    border-color: var(--yellow) !important;
  }

  /* success */
  body.custom-style-enabled .sd-bg-success{
    color: #FFFFFF !important;
    background-color: var(--darkGreen) !important;
  }
  /* success-line */
  body.custom-style-enabled .sd-outline-success{
    color: var(--darkGreen) !important;
    border-color: var(--darkGreen) !important;
  }

  /* warning */
  body.custom-style-enabled .sd-bg-warning{
    color: #FFFFFF !important;
    background-color: var(--orange) !important;
  }
  /* warning-line */
  body.custom-style-enabled .sd-outline-warning{
    color: var(--orange) !important;
    border-color: var(--orange) !important;
  }

  /* danger */
  body.custom-style-enabled .sd-bg-danger{
    color: #FFFFFF !important;
    background-color: var(--red) !important;
  }
  /* danger-line */
  body.custom-style-enabled .sd-outline-danger{
    color: var(--red) !important;
    border-color: var(--red) !important;
  }

  /* light */
  body.custom-style-enabled .sd-bg-light{
    color: var(--black) !important;
    background-color: var(--gray-mid) !important;
  }
  /* light-line */
  body.custom-style-enabled .sd-outline-light{
    color: var(--gray) !important;
    border-color: var(--gray) !important;
  }

  /* muted */
  body.custom-style-enabled .sd-bg-muted{
    color: #FFFFFF !important;
    background-color: var(--purple) !important;
  }
  /* muted-line */
  body.custom-style-enabled .sd-outline-muted{
    color: var(--purple) !important;
    border-color: var(--purple) !important;
  }

  /* dark */
  body.custom-style-enabled .sd-bg-dark{
    color: #FFFFFF !important;
    background-color: var(--darkBlue) !important;
  }
  /* dark-line */
  body.custom-style-enabled .sd-outline-dark{
    color: var(--darkBlue) !important;
    border-color: var(--darkBlue) !important;
  }

  /* white */
  body.custom-style-enabled .sd-bg-white{
    color: var(--black) !important;
    background-color: #FFFFFF !important;
  }
  /* white-line */
  body.custom-style-enabled .sd-outline-white{
    color: #FFFFFF !important;
    border-color: #FFFFFF !important;
  }

  /* black */
  body.custom-style-enabled .sd-bg-black{
    color: #FFFFFF !important;
    background-color: var(--black) !important;
  }
  /* black-line */
  body.custom-style-enabled .sd-outline-black{
    color: var(--black) !important;
    border-color: var(--black) !important;
  }

  /* BUTTONS */

  /* all buttons */
  body.custom-style-enabled .sd-btn{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s, transform 0.3s;
    border: 0 !important;
  }
  body.custom-style-enabled .sd-btn:hover{
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    border: 0 !important;
  }

  /* primary, info */
  body.custom-style-enabled .sd-btn-primary,
  body.custom-style-enabled .sd-btn-info{
    color: #FFFFFF !important;
    background-color: var(--blue) !important;
    border-color: var(--blue) !important;
  }

  /* secondary */
  body.custom-style-enabled .sd-btn-secondary{
    color: #FFFFFF !important;
    background-color: var(--yellow) !important;
    border-color: var(--yellow) !important;
  }

  /* success */
  body.custom-style-enabled .sd-btn-success{
    color: #FFFFFF !important;
    background-color: var(--darkGreen) !important;
    border-color: var(--darkGreen) !important;
  }

  /* warning */
  body.custom-style-enabled .sd-btn-warning{
    color: #FFFFFF !important;
    background-color: var(--orange) !important;
    border-color: var(--orange) !important;
  }

  /* danger */
  body.custom-style-enabled .sd-btn-danger{
    color: #FFFFFF !important;
    background-color: var(--red) !important;
    border-color: var(--red) !important;
  }

  /* light */
  body.custom-style-enabled .sd-btn-light{
    color: var(--black) !important;
    background-color: var(--gray-mid) !important;
    border-color: var(--gray) !important;
  }

  /* muted */
  body.custom-style-enabled .sd-btn-muted{
    color: #FFFFFF !important;
    background-color: var(--purple) !important;
    border-color: var(--purple) !important;
  }

  /* dark */
  body.custom-style-enabled .sd-btn-dark{
    color: #FFFFFF !important;
    background-color: var(--darkBlue) !important;
    border-color: var(--darkBlue) !important;
  }

  /* white */
  body.custom-style-enabled .sd-btn-white{
    color: var(--black) !important;
    background-color: #FFFFFF !important;
    border-color: #FFFFFF !important;
  }

  /* black */
  body.custom-style-enabled .sd-btn-black{
    color: #FFFFFF !important;
    background-color: var(--black) !important;
    border-color: var(--black) !important;
  }